.sourceNewsContainer {
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.sourceTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-text-color); 
  margin-bottom: 20px;
}

.sourceNewsList {
  list-style: none;
  padding: 0;
}

.sourceNewsItem {
  background-color: var(--primary-bg-color); 
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease-in-out;
}
.sourceNewsItem a {
  color: var(--link-color);
}

.sourceNewsItem:hover {
  transform: scale(1.02);
}

.sourceNewsLink {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.sourceNewsLink:hover {
  color: var(--hover-link-color); 
}

.sourceNewsDescription {
  font-size: 14px;
  color: var(--muted-text-color); 
  margin: 10px 0;
}

.sourceNewsAuthor,
.sourceNewsPublishedDate,
.sourceNewsSource {
  font-size: 12px;
  color: var(--muted-text-color); 
}

.sourceNewsImage {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.loadingMessage,
.errorMessage {
  font-size: 16px;
  color: var(--error-color); 
}

.errorMessage {
  color: var(--error-color); 
}

