.category-news-container {
  padding: 20px;
  background-color: var(--secondary-bg-color); 
  border-radius: 8px;
}

.category-news-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-text-color); 
}

.navbar {
  margin-bottom: 20px;
  background-color: var(--primary-bg-color); 
  border-radius: 8px;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.navbar-item {
  padding: 10px 20px;
  color: var(--primary-text-color); 
  cursor: pointer;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}

.navbar-item:hover {
  background-color: var(--border-color); 
}

.navbar-item.active {
  background-color: var(--link-color); 
}

.loading-text {
  color: var(--muted-text-color); 
  font-size: 1.2rem;
}

.error-text {
  color: var(--error-color); 
  font-size: 1.2rem;
}

.category-news-chart {
  max-width: 800px;
  height: 400px;
  margin: 0 auto 20px;
}

.category-news-list {
  padding: 0;
  list-style: none;
}

.category-news-list li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--primary-bg-color); 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.category-news-list a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--link-color); 
  display: block;
  margin-bottom: 10px;
}

.category-news-list a:hover {
  text-decoration: underline;
  color: var(--hover-link-color); 
}

.category-news-list p {
  margin: 5px 0;
  color: var(--muted-text-color); 
}

.category-news-list .news-image {
  border-radius: 8px;
  margin-top: 10px;
}

